<div id="wrapper">
	<header id="header">
		<a href="index.html"><img class="site-logo" src="https://img.zhheo.com/i/2022/10/08/6340fc3173131.png"></a>
		<h1><a href="index.html"><strong>HeoPlog</strong></h1></a>
		<span class="discription">分享生活的小事</span>
		<nav>
			<ul>
				<li class='nav-item'><a class="icon solid fa-info-circle nav-item-name">分类</a>
					<ul class="nav-item-child">
                        <% site.categories.forEach(function(category){ %>
                          <% if (category.name.length <= 4) { %>
                            <li class="category-level-0 category-parent">
                              <a href="<%= url_for(category.path) %>" class="category-list-link" style="cursor: pointer;"><%= category.name %></a>
                            </li>
                          <% } %>
                        <% }) %>

					</ul>
				</li>
				<li><a type="button" id="fullscreen" class="btn btn-default visible-lg visible-md" alt="切换全屏"><svg
							class="icon-zmki zmki_dh zmki_wap" aria-hidden="true">
							<use xlink:href="#icon-zmki-ziyuan-copy"></use>
						</svg></a></li>
				<li><a href="#footer">关于</a></li>
			</ul>
		</nav>
	</header>
</div>

<div id="wrapper">
<div id="main" >

    <%
    var hashCode = function (str) {
        if (!str && str.length === 0) {
            return 0;
        }

        var hash = 0;
        for (var i = 0, len = str.length; i < len; i++) {
            hash = ((hash << 5) - hash) + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    };
    %>

    <!-- 所有文章卡片 -->
	<% page.posts.forEach(post => { %>
    <article class="thumb img-area">
            
                <% if (post.img) { %>
					<a class="image my-photo"  alt="loading" href="<%- url_for(post.img) %>" >
						<img data-src="<%- url_for(post.img) %>" class="zmki_px  my-photo" onerror="this.src='https://plog.zhheo.com/usr/themes/time/assets/img/loading.gif';this.onerror=null" alt="<%= post.title %>">
					</a> 
                <% } %>
                            <h2><%= post.title %></h2>
							<p><p><p><%= post.info %></p></p>
                    <% if(post.tags && post.tags.length > 0) { %>
                    <li class="tag-categorys">
                        <% post.tags.forEach(tag => { %>
                        <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
					</li>
                        <% }); %>
                    <% } %>
           
    </article>
	 <% }); %>

 </div> 
</div> 

<% if (page.total > 1) { %>
<%- partial('_partial/paging') %>
<% } %>
